// Mixins Here

.push-me() {
  background-color: @ebony-clay;
  color: @wild-sand;
  width: 30%;
  text-align: center;
  margin: 10px;
  padding: 10px 2%;
  font-size: 2rem;
  border-radius: 10px;

  &:hover {
    background-color: @wild-sand;
    color: @ebony-clay;
  }
}

.push-me-mobile() {
  background-color: @ebony-clay;
  color: @wild-sand;
  width: 100%;
  text-align: center;
  margin: 10px;
  padding: 25px 2%;
  font-size: 1.6rem;
  border-radius: 6px;

  &:hover {
    background-color: @wild-sand;
    color: @ebony-clay;
  }
}

.centered() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-layout(@justify, @align) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}
